body {
    overflow: hidden;
    background-color: white;
}

.allText{
    background-color: rgba(59, 243, 191, .5);
    width: 90vw;
    height: 20vh;
    margin-top: 25vh;
    margin-left: auto;
    margin-right: auto;    
}

.startText{
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    margin: auto;
    text-align: left;
    width: 45vw;
    height: 20vh;
}

.calibratedText{
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    margin: auto;
    text-align: left;
    width: 45vw;
    height: 20vh;
}

.calibrationBtn{
    width: 50px;
    height: 50px;
    background-color: red;
    border: 3px solid black;
    border-radius: 50%;
}
.calibrationBtn:hover{
    background-color: rgb(255, 138, 138);
}

.menuBtn{
    width: 200px;
    height: 50px;
    background-color: rgb(59, 243, 191);
    border: 3px solid black;
    margin-top: 25px;
    margin-left: calc(50vw - 100px);
}

.menuBtn:hover{
    background-color: rgb(255, 126, 126);
}

.calibrated{
    display: none;
    background-color: rgba(59, 243, 191, 0.3);
    width: 60vw;
    height: 14vh;
    margin-top: 2vh;
    margin-left: auto;
    margin-right: auto;
}

.allMenuBtns{
    width: 100vw;
    height: 20vh;
    margin-left: auto;
    margin-right: auto;   
}