body {
    margin: 0;
    overflow: hidden;
    background-color: lightpink;
}

p {
    font-size: x-large;
    overflow:scroll;
    overflow-x: hidden;
    height: 1000px;
    margin: 5%;
    border: 2px;
    padding: 5%;
    border-style: solid;
    background-color: white;
}
div{
    width:100%;
    height:100%;
}

.popMenu{
    display: hidden;
    background-color: royalblue;
    border: none;
    border-radius: 10px;
    border-top-right-radius: 0%;
    font-size: 16px;
    /* margin: 4px 2px; */
    margin-right: 2px;
    cursor: pointer;
    position:absolute;
    right:0;
    width: 23%;
    height: 30%;
    padding: 10px;
}
.popMenuButt{
    background-color: royalblue;
    border: none;
    border-radius: 10px;
    /* border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%; */
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /* margin: 4px 2px; */
    margin-top: 4px;
    margin-right: 2px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 black;
    transition: ease-out 0.3s;
    position:absolute;
    top:0;
    right:0;
}
.popMenuButt:hover{
    box-shadow: inset 300px 0 0 0 white;
    color: black;
}

.menuButt{
    background-color: royalblue;
    border: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 10px;
    /* border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%; */
    color: white;
    /* padding: 15px 32px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 black;
    transition: ease-out 0.3s;
    width: 32%;
}

a{
    background-color: black;
    border-radius: 10px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 4px;
    margin-left: 2px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 black;
    transition: ease-out 0.3s;
}

a:hover {
    box-shadow: inset 300px 0 0 0 white;
    color: black;
}