<!DOCTYPE html>
<meta charset="utf-8">
<html>
   <head>
      <title>EyeBook Reading Page</title>
      <script src="https://d3js.org/d3.v3.min.js"></script>   <!-- Eyetracking Stuff -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/localforage/1.8.1/localforage.js"></script>  <!-- Camera Stuff -->
      <script src="../static/js/webgazer.js"></script>     <!-- Eyetracking Stuff -->
      <script src="../static/js/readingPage.js"></script>
      <link rel="stylesheet" type="text/css" href="../static/css/readingPage.css">
   </head>

   <div background-color="white">
      <a href="{{ url_for('home')}}">BACK</a>
      <br>
      <p id="txtSect">Test</p>
   </div>
</html>