<!DOCTYPE html>
<meta charset="utf-8">
<html>
   <head>
      <title>EyeBook Reading Page</title>
      <script src="https://d3js.org/d3.v3.min.js"></script>   <!-- Eyetracking Stuff -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/localforage/1.8.1/localforage.js"></script>  <!-- Camera Stuff -->
      <script src="../static/js/webgazer.js"></script>     <!-- Eyetracking Stuff -->
      <script src="../static/js/readingPage.js"></script>
      <link rel="stylesheet" type="text/css" href="../static/css/readingPage.css">
   </head>

   <div>
      <form action="{{ url_for('home')}}">
         <button class = "back" type=submit>Back</button>  
      </form>
      <button class = "popMenuButt" type="button" id = "popMenuButt" onclick="popMenu()">Menu</button>
      <div class = "popMenu" id = "popMenu" hidden = "hidden">
         <label>Color:</label>
         <br>
         <button id = "c1" class = "menuButtActive" type="button" onclick="changeColor('white')">White</button>
         <button id = "c2" class = "menuButt" type="button" onclick="changeColor('beige')">Beige</button>
         <button id = "c3" class = "menuButt" type="button" onclick="changeColor('black')">Black</button>

         <br>

         <label>Font Size:</label>
         <br>
         <button id = "s1" class = "menuButt" type="button" onclick="changeSize('small')">Small</button>
         <button id = "s2" class = "menuButt" type="button" onclick="changeSize('medium')">Medium</button>
         <button id = "s3" class = "menuButtActive" type="button" onclick="changeSize('large')">Large</button>

         <br>

         <label>Margin Size:</label>
         <br>
         <button id = "m1" class = "menuButt" type="button" onclick="changeMargin('small')">Small</button>
         <button id = "m2" class = "menuButtActive" type="button" onclick="changeMargin('medium')">Medium</button>
         <button id = "m3" class = "menuButt" type="button" onclick="changeMargin('large')">Large</button>

         <br>

         <label>Font Style:</label>
         <br>
         <button id = "f1" class = "menuButt" type="button" onclick="changeFont('arial')">Arial</button>
         <button id = "f2" class = "menuButtActive" type="button" onclick="changeFont('sans')">Times</button>
         <button id = "f3" class = "menuButt" type="button" onclick="changeFont('mono')">Mono</button>
      </div>
      <br>
      <p id="txtSect">Placeholder</p>
   </div>
</html>