<!DOCTYPE html>
<meta charset="utf-8">
<html>
   <head>
      <title>EyeBook Reading Page</title>
      <script src="https://d3js.org/d3.v3.min.js"></script>   <!-- Eyetracking Stuff -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/localforage/1.8.1/localforage.js"></script>  <!-- Camera Stuff -->
      <script src="../static/js/webgazer.js"></script>     <!-- Eyetracking Stuff -->
      <script src="../static/js/tracking.js"></script>   <!-- Tracker Display -->
      <link rel="stylesheet" type="text/css" href="../static/css/readingPage.css">
   </head>

   <body>
      <a href="{{ url_for('home')}}">BACK</a>
      <!-- <h1>
         Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin blandit est eu purus posuere, eu tempus lacus condimentum. Etiam sed purus ultrices, viverra dui et, venenatis felis. Curabitur nec fringilla urna. Ut nec posuere nunc. Nulla tristique nisl consectetur, varius diam vitae, vulputate leo. Quisque sed eleifend neque, eget lacinia nulla. Nunc sit amet ultricies nibh. In hac habitasse platea dictumst.
         Nulla facilisi. Mauris auctor purus vitae tellus venenatis suscipit. c dui
      </h1> -->
      <br>
      
      <embed src= "{{url_for('file')}}" width= "100%" height="800px" type="application/pdf">
         
   </body>
</html>