<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../static/css/startPage.css">
    <title>EyeReader</title>
   
</head>

<body id = "myBody">

<h1> Welcome to Lazy Eye<sup>TM</sup> <br> or Something</h1>
 <form action="{{ url_for('calibration')}}" method="get">
    <input type="file" id="real-button" hidden="hidden" accept=".pdf" onchange="form.submit()" />
    <button type="button" id="custom-button">Import PDF</button>
</form>

<script type="text/javascript">
    
    const realBtn = document.getElementById("real-button")
    const customBtn = document.getElementById("custom-button");
    const customTxt = document.getElementById("custom-text");

    customBtn.addEventListener("click", function() {
        realBtn.click();
    });

    realBtn.addEventListener("change", function(){
        if(realBtn.value){
            customTxt.innerHTML = realBtn.value.match(/[\/\\]([\w\d\s\.\-\(\)]+)$/)[1];
        }
        else
            customTxt.innerHTML = "No PDF chosen, yet";
    })
</script>
</body>
</html>